@font-face {
    font-family: 'MyFont';
    src: url('./my-font.woff2') format('woff2');
  }

/* Todo items */

.todo-item-container {
    display: grid;
    border: 1px solid black;
    padding: 1rem;
    width: 500px;
}

.todo-item-title {
    font-size: 1.5rem;
}

.todo-item-description {
    font-size: 1.1rem;
}

.todo-item-duedate {
    font-size: 1.1rem;
}

.todo-item-priority {
    font-size: 1.1rem;
}